header{
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
}
nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    height: 10vh;
}
.bigBox{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
height: 100px;
width: 100px;

border: 2px black solid;
}
.smallBox{
height: 100%;
width: 100%;
border: 2px black solid;


}
button{
    cursor: pointer;

    width: 100%;
    
    display:block;
    
    height: 100%;
    
    background-color: white;
}
button:disabled {
    background-color: white;
    color: black;
    cursor:not-allowed;
}